<h1>Create new account</h1>

<form action="/users" method="POST">
  <label for="username">Username</label>
  <input required name="username" id="username" />

  <label for="password">Password</label>
  <input required type="password" name="password" id="password" />

  <label for="email">Email</label>
  <input required type="email" name="email" id="email" />

  <button>Create</button>
</form>

{{#if error}}
  <p>{{error}}</p>
{{/if}}

<p>
  <a href="/">Back</a>
</p>
